.drama{
	height: 720px;
	width : 100%;
	background-image: url("dra.jpg");
	background-repeat: no-repeat;
	margin-top: -20px;
}
.back{
	height: 4000px;
	width: 4000px;
	background-color: black;
	position: fixed;
	cursor: url(cursor1.png), url(cursor1.png), auto;
}
.z{
	margin-left: 150px;
	margin-top: -120px;
}
.a{
	margin-left: 160px;
	margin-top: 80px;
}
.a:hover{
	background-image: url("8.png");
	cursor: url(cursor2.png), url(cursor2.png), auto;
}
.b{
	margin-left: 700px;
	margin-top: -40px;
}
.b:hover{
	background-image: url("8.png");
	cursor: url(cursor2.png), url(cursor2.png), auto;
}
.c{
	margin-left: 380px;
	margin-top: -60px;
}
.c:hover{
	background-image: url("8.png");
	cursor: url(cursor2.png), url(cursor2.png), auto;
}
.d{
	margin-left: 400px;
}
.d:hover{
	background-image: url("8.png");
	cursor: url(cursor2.png), url(cursor2.png), auto;
}
.e{
	margin-left: 160px;
}
.e:hover{
	background-image: url("8.png");
	cursor: url(cursor2.png), url(cursor2.png), auto;
}
.f{
	margin-left: 460px;
	margin-top: 20px;
}
.f:hover{
	background-image: url("8.png");
	cursor: url(cursor2.png), url(cursor2.png), auto;
}