.hindi{
	height: 720px;
	width : 100%;
	background-image: url("h1.jpg");
	background-repeat: no-repeat;
	margin-top: -20px;
}
.back{
	height: 4000px;
	width: 4000px;
	background-color: black;
	position: fixed;
	cursor: url(cursor1.png), url(cursor1.png), auto;
	
}
.a{
	margin-left: 350px;
	margin-top: 300px;
}
.a:hover{
	background-image: url("hin.png");
	cursor: url(cursor2.png), url(cursor2.png), auto;
}
.b{
	margin-top: 300px;
}
.b:hover{
	background-image: url("hin.png");
	cursor: url(cursor2.png), url(cursor2.png), auto;
}
.c{
	margin-left: 700px;
	margin-top: 70px;
}
.c:hover{
	background-image: url("hin.png");
	cursor: url(cursor2.png), url(cursor2.png), auto;
}